<div class="ma-form">
  <form action="/answer" method="get" >
    <label for="question">Pose ta question au coach</label>
    <input type="text" placeholder="Comment va ?" name="question">
    <button type="submit">Question</button>
  </form>
</div>
