// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$font-stack:    Helvetica, sans-serif;
$primary-color: #B0F566;
$secondary-color: #4AF2A1;
$primary-background: #5CC9F5;
$secondary-background-color: #F78AE0;


.ma-reponse {
  font-family: $font-stack;
  color: $primary-color;
  background: $primary-background;
}

.reponse-du-coach {
  font-family: $font-stack;
  color: $secondary-color;
  background: $secondary-background-color;
}

.ma-form {


}
